.example-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 300px;
  max-width: 300px;
  width: 100%;
  padding-top: 20px;
}

.example-full-width {
  width: 100%;
}


.container {
    margin: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  table {
    width: 100%;
  }

  